{% extends "main/base.html" %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% endblock %}

{% block title %}Башкы бет {% endblock %}

{% block content %}
            <!-- Sağdaki içerik -->
        <h4>Долбоорлордун абалы</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Кайрылуучу</th>
            <th>Долбоор</th>
            <th>Кайрылан күнү</th>

        </tr>
    </thead>
    <tbody>
        {% for item in dolboorlor %}
        <tr>
            <td>{{ item.user.first_name }} {{ item.user.last_name }}</td>
            <td><a href="{% url 'main:index_detail' item.id %}">{{ item }}</a></td>
            <td>{{ item.created|date:"d.m.Y" }}</td>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
{% block js_files %}
<script src="{% static 'main/js/script.js' %}"></script>

{% endblock %}
